:host {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.field {
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  text-align: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  background-color: #fff;
  box-sizing: border-box;
  cursor: default;
  position: relative;
  z-index: -1;

  &.clickable {
    cursor: pointer;
    z-index: 5;

    &:hover,
    &:active {
      background-color: #ddd;
    }
  }

  &.has-ship {
    background-color: #ccc;
  }

  &.is-hit {
    background-color: red;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  width: 300px;
  height: 300px;
  position: relative;
  z-index: 1;
}

.ships-container {
  position: relative;
  border: 1px solid #aaa;
  width: 300px;
  height: 300px;
}
