:host {
  display: block;
  background: blue;
  position: absolute;
}

.ship {
  &.horizontal {
    height: 30px;

    &.size-1 {
      width: 30px;
    }

    &.size-2 {
      width: 60px;
    }

    &.size-3 {
      width: 90px;
    }

    &.size-4 {
      width: 120px;
    }
  }

  &.vertical {
    width: 30px;

    &.size-1 {
      height: 30px;
    }

    &.size-2 {
      height: 60px;
    }

    &.size-3 {
      height: 90px;
    }

    &.size-4 {
      height: 120px;
    }
  }
}
